$light-white-clr: #777;
$dark-clr: #000;
$yellow-clr: #fed330;
$white-clr: #fff;
$black-clr: #222;
$red-clr: #e74c3c;

$clr-text: $dark-clr;
$clr-nav-text: #000;
$border: 0.2rem solid #000;
$product-border: 2px solid #000;
$fs-md-text: 2.5rem;
$fs-text: 2rem;
$fs-sm-text: 1.7rem;
$flex-gap: 1.5rem;
$grid-gap: 1.5rem;
