.register {
  margin-top: 73px;
  @include lg {
    margin-top: 62px;
  }
}

.register-form {
  max-width: 50rem;
  margin: 0 auto;

  & h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & input {
    margin-bottom: 2rem;
  }

  & .register-btn {
    margin-bottom: 1rem;
  }
}
